/* text-transform */
/* capitalize 首字母大写 uppercase 大写 lowercase 小写 */
.title {
    text-transform: capitalize;
    text-align: center;
    color: green;
    text-decoration: underline;
}

/* line-height */
.one {
    line-height: 1.5rem;
    text-decoration: underline;
}

/* letter-spaceing */
.two {
    letter-spacing: 5px;
    text-decoration: overline;
}

/* word-spaceing */
.three {
    word-spacing: 20px;
}

/* text-decoration */
a {
    font-size: 40px;
    text-decoration: none;
}