.buttons {
    margin: 100px 300px;
    cursor: pointer;
}

#one {
    background-color: green;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    border: 3px solid black;
    margin-right: 20px;
}

#two {
    background-color: green;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    outline: 3px solid black;
    outline-offset: 10px;
}